@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* Centered dedications */
section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End centered dedications */

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}
/* End all epigraphs */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: initial;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}
}
/* End full-page epigraphs */

/* Begin verse */
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p,
[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:song"] p + p,
[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}
/* End verse */

/* Begin letters */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
p[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* End letters */

/* Begin italicized lang attributes */
blockquote[xml|lang],
p[xml|lang],
blockquote span[xml|lang]{
	font-style: italic;
}
/* End italicized lang attributes */

/* Begin internal thoughts */
q{
	font-style: italic;
}
/* End internal thoughts */

/* |********************|**
	=== Custom CSS ===	
**|********************| */
/* Begin custom dedication */
#dedication{
	font-style: italic;
}

#dedication blockquote{
	margin-top: 1em;
}
/* End custom dedication */

/* Begin custom foreword */
#foreword p{
	font-style: italic;
}
/* End custom foreword */

/* Begin custom css */
#chapter-13 blockquote,
#chapter-17 blockquote[epub|type="z3998:song"] p{
	text-align: center;
}

#chapter-13 > blockquote span{
	text-transform: uppercase;
}
/* End custom css */
